{% extends "base.html" %}
{% load staticfiles %}
{% block navbar %}
	{% if user %}
		{% include "navbar_after_login.html" %}
	{% else %}
		{% include "navbar_before_login.html" %}
	{% endif %}

{% endblock navbar %}

{% block content %}
	<div class="container">
	
	{% if user %}
		<div class="row">
			<div class="col-lg-4">
				<ul class="list-group menu">
					<li class="list-group-item" align="center">Dapibdfus ac facilisis in</li>
					<a href="/posts/create"><li class="list-group-item">Create a new post</li></a>
					<a href="query.html"><li class="list-group-item">Dapibus ac facilisis in</li></a>
					<a href="#"><li class="list-group-item">Morbi ldfgdeo risus</li></a>
				</ul>
				
			</div>
			<div class="col-lg-4">
				<ul class="list-group menu">
					<li class="list-group-item" align="center">Dapibufgdfgs ac facilisis in</li>
					<a href="#"><li class="list-group-item">Crasdfd justofgdfgdf dfgdf odio</li></a>
					<a href="#"><li class="list-group-item">Dapibudfgs ac facilisis in</li></a>
					<a href="#"><li class="list-group-item">Morbi fdleo risus</li></a>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul class="list-group menu">
					<li class="list-group-item" align="center">Dapibus ac facilisis in</li>
					<a href="#"><li class="list-group-item">Cras justo odio</li></a>
					<a href="#"><li class="list-group-item">Dapibusfgdf ac facilisis in</li></a>
					<a href="#"><li class="list-group-item">Morbi leo risus</li></a>
				</ul>
			</div>

		</div>
	{% else %}
		<div class="jumbotron">
		<h1>Welcome to Farmers' Portal</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
		<ul>
		    <li>olor sit amet, consectet</li>
		    <li>quet nec, vulputate </li>
		    <li>i nec, vulputate eget t nec, vulputate eget</li>
		    <li>t nec, vulputate egett nec, vulputate egett nec, vulputate eget</li>
		</ul>
		</p>
		<p><a class="btn btn-primary btn-lg" href="faq.html" role="button">Learn more</a> <a class="btn btn-primary btn-lg" href="signup.html" role="button">Register</a></p>
		</div>
	{% endif %}

	
	<h1 class="heading">P O S T S</h1>
	<div class="row" align="center">
		{% for obj in all_posts %}
			<div class="col-lg-4">
			<div class="panel panel-default">
				
				{% if obj.author_expert_id %}
					<div class="panel-heading" style="background: url('{% static 'images/post_head_expert_back.jpg' %}') repeat;"><b>EXPERT'S POST</b></div>
				{% else %}
					<div class="panel-heading" ><b>FARMER'S POST</b></div>
				{% endif %}
				<div class="panel-body">
					<img src="/media/{{obj.image}}" alt="No image uploaded" style="width: 80%; height: 180px">
					<div class="caption">
						<p align="center"> Posted {{ obj.timestamp|timesince }} ago </p>
						<h4 align="center">{{ obj.title }}</h4>
						<!-- <p align="justify">{{ obj.description|linebreaks|truncatechars:80 }}</p> -->
						<p align="center"><a href="{% url 'post:detail' id=obj.post_id %}" class="btn btn-primary" role="button">View Post</a></p>
					</div>
				</div>
			</div>
			</div>
			{% cycle "" "" "</div><div class='row'>" %}
		{% endfor %}
	</div>
	
	</div>
	
{% endblock content %}
