{% load staticfiles %}
<div class="container" id="top">
	<div class="main_image"></div>
	<div class ="heading"><h2>Farmers' Portal : <i>Connecting farmers and experts</i></h2></div>
	<nav class="navbar navbar-inverse">		
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		</button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav nav-tabs nav-justified">	
		<li><a href="/"><span class="glyphicon glyphicon-home"></span> <b>Home</b></a></li>
		<li><a href="/profile"><span class="glyphicon glyphicon-user"></span> <b>View your profile</b></a></li>
	    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> <b>Logout</b></a></li>
	    <li><a href="/faq"><span class="glyphicon glyphicon-info-sign"></span> <b>FAQ</b></a></li>
	    <li><a href="/aboutus"><span class="glyphicon glyphicon-tasks"></span> <b>About Us</b></a></li>
	    </ul>
	</div>
	</nav>
</div>