{% extends "base.html" %}
{% load staticfiles %}
{% block navbar %}
	{% if user %}
		{% include "navbar_after_login.html" %}
	{% else %}
		{% include "navbar_before_login.html" %}
	{% endif %}

{% endblock navbar %}

{% block content %}
	<div class="container">
	<div class="col-lg-10 col-lg-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading" align="center"><h3 align="center">
		{% if query_id == '1' %}
			Search for some farmer
		{% elif query_id == '2' %}
			Find some post
		{% elif query_id == '3' %}
			Find some crop
		{% elif query_id == '4' %}
			View farmers of your area
		{% elif query_id == '5' %}
			View infected crops
		{% elif query_id == '6' %}
			See nutrients and associated fertilizers
		{% endif %}

		</h3></div>
		<div class="panel-body">
			<div class="caption">
				
				<p align="justify">
					{% if query_id == '1' %}
						Enter partial / full name of farmer you wish to search. You can also enter partial / full name of the farmer's city/state.
					{% elif query_id == '2' %}
						Search for any post here. You can search post titles, descriptions, and absolute IDs.
					{% elif query_id == '3' %}
						Search for any crop here. You can search crop names and their families.
					{% elif query_id == '4' %}
						Here all the farmers currently registered in your location are listed.
					{% elif query_id == '5' %}
						View all the crops that are currently infected with some kind of disease.
					{% elif query_id == '6' %}
						Here, all nutrients and fertilizers are listed.
					{% endif %}
				</p>
				{% if query_id < '4' %}
				<div class="container-fluid searchbox">
				<div align="center">
					<form class="navbar-form" role="search" action="/query/search/{{ query_id }}" method="get">
						<div class="input-group">
						<input type="text" class="form-control input-lg" placeholder="Search" name="search_query">
						<div class="input-group-btn">
						<button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
						</div>
					</form>
				</div>
				</div>
				{% endif %}
				<br>
				{% if result %}
				<table class="table table-hover">
					<thead>
						<tr>
							{% for header in result_header %}
								<th>{{ header }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for obj in result %}
							{% if query_id == '1' %}
								<tr>
									<td>{{ obj.Name }}</td>
									<td>{{ obj.Email }}</td>
								</tr>
							{% elif query_id == '2' %}
								<tr>
									<td>{{ obj.Title }}</td>
									<td>{{ obj.PostedOn }}</td>
									<td><a style="color: blue;" href="/posts/{{ obj.Link }}">Click here</a></td>
								</tr>
							{% elif query_id == '3' %}
								<tr>
									<td>{{ obj.CropName }}</td>
									<td>{{ obj.Family }}</td>
								</tr>
							{% elif query_id == '4' %}
								<tr>
									<td>{{ obj.Name }}</td>
									<td>{{ obj.Email }}</td>
								</tr>
							{% elif query_id == '5' %}
								<tr>
									<td>{{ obj.CropName }}</td>
									<td>{{ obj.Family }}</td>
									<td>{{ obj.FarmerName }}</td>
									<td>{{ obj.Email }}</td>
									<td>{{ obj.Disease }}</td>
									<td>{{ obj.Category }}</td>
								</tr>
							{% elif query_id == '6' %}
								<tr>
									<td>{{ obj.Fertilizer }}</td>
									<td>{{ obj.Nutrient }}</td>
									<td>{{ obj.NutrientType }}</td>
								</tr>
							{% endif %}
							
						{% endfor %}
					</tbody>
				</table>
				
				{% if query_id == '3' %}
				<br>
					<table class="table table-hover">
					<h4>Farmers growing this crop are listed as:</h4>
					<tbody>
					{% for obj in result_farmers %}							
						<tr>
							<td>{{ obj.name }}</td>
							<td>{{ obj.user_id }}</td>
						</tr>
					{% endfor %}
					</tbody>
					</table>
				{% endif %}
				
				{% endif %}
		
				
			</div>
		</div>
	</div>
	</div>
	</div>
	
{% endblock content %}
