<!DOCTYPE html>
<html>
<head>
	<title>Farmers' Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>
	<div class="container" id="top">
		<div class="main_image"></div>
		<div class ="heading"><h2>Farmers' Portal : <i>Connecting farmers and experts</i></h2></div>
		<nav class="navbar navbar-inverse">		
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav nav-tabs nav-justified">
			<li><a href="home.html"><span class="glyphicon glyphicon-home"></span> <b>Home</b></a></li>
			<li><a href="profile.html"><span class="glyphicon glyphicon-user"></span> <b>View your profile</b></a></li>
		    <li><a href="logout.html"><span class="glyphicon glyphicon-log-out"></span> <b>Logout</b></a></li>
		    <li><a href="faq.html"><span class="glyphicon glyphicon-info-sign"></span> <b>FAQ</b></a></li>
		    <li><a href="about.html"><span class="glyphicon glyphicon-tasks"></span> <b>About Us</b></a></li>
		    </ul>
		</div>
		</nav>
	</div>

	<div class="container">
	<div class="row" align="center">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="panel panel-default post">
				<div class="panel-heading">Posted on: 2015-03-21 05:56 pm</div>
				<div class="panel-body zoomin">
					<img src="../static/images/image1.jpg" alt="No image uploaded">
					<div class="caption">
						<h3>atdeledfgdfctus ducimus necessitatib</h3>
						<h5>Posted by: <b>Mr. Xyxnldnasd Pdasd</b></h5>
						<p align="justify">Lelectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recen orem ipsum dollectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recen orem ipsum dollectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recen orem ipsum dollectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recen orem ipsum dol lectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recen orem ipsum dol lectus ducimus necessitatibus reiciendis optioMetrro and Barcllay have recen orem ipsum dolor</p>
						
					</div>
				</div>
			</div>	
		</div>
	</div>

	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
		<h4>Comments</h4>
			<ul class="list-group">
				<li class="list-group-item"><span><b>Xas Yassd:<br></b></span> Dapibdfducimus necessitatibus reiciendis ducimus necessitatibus reiciendis ducimus necessitatibus reiciendis us ac facilisisus necessitatibus reiciendis ducimus necessitatibus reiciendis ducimus necessitatibus reiciendis us ac facilisisus necessitatibus reiciendis ducimus necessitatibus reiciendis ducimus necessitatibus reiciendis us ac facilisisus necessitatibus reiciendis ducimus necessitatibus reiciendis ducimus necessitatibus reiciendis us ac facilisis in</li>
				<li class="list-group-item"><span><b>Xasdsd Yasd:<br></b></span>Dapibdfuducimus necessitatibus reiciendis ducimus necessitatibus reiciendis s ac facilisis in</li>
				<li class="list-group-item"><span><b>Xas Yasd:<br></b></span>Dapibdfducimus necessitatibus reiciendis ducimus necessitatibus reiciendis us ac facilisis in</li>
				<li class="list-group-item"><span><b>Xas Yasd:<br></b></span>Dapibdfducimus necessitatibus reiciendis ducimus necessitatibus reiciendis us ac facilisis in</li>

			</ul>
			<form class="form-inline" role="form" action="" method="get">
				<div class="form-group" style="float:left;width:100%;">
					<textarea class="form-control FormElement" name="comment" required="True" placeholder="Say something" rows="2" style="float:left;width:100%;"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
	</div>
	<br>
	<footer class="footer">
	<br>
      <div class="container">
        <p class="text-muted" align="center"><a href="#top"><span class="glyphicon glyphicon-arrow-up"></span> Back to Top</a></p>
        <p class="text-muted" align="center"><a href="home.html"><span class="glyphicon glyphicon-home"></span> Home</a></p>
      </div>
    </footer>

</body>
</html>
